.coincontainer{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coinblock{
    width: 95%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white ;
    border-radius: 50px;
}
.coinstatus{
    height: 95%;
    width: 96%;
    border-radius: 50px;
    background-color: #030027;
}
/*  */
h1{
    background: transparent;
    margin: 50px;
    color: white;
}