/* header w button container*/
header{
    height: 5vh;
    width: 100vw;
    background-color: #261e35;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* container for the buttons on the left */
.buttoncontainer{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: centera;
}
.homebutton{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

a{
    font-size: 1vw;
    transition: 0.3s;
    cursor: pointer;
}
a:hover{transform: scale(1.2)}