.saldocontainer{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.saldoblock{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #3c354a;
}

/*  */
h1{
    background: transparent;
    margin: 50px;
    color: white;
}

/* Saldo chart */